.card {
    padding:0;
    display: grid;

}
.button_block{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: end;
}
.button {
    cursor: pointer;
    border: none;
    background-color: #1e95d0;
    padding: 10px;
    color: white;
}
.button:active{
    background-color: #1976a4;
}