.main {
    position: relative;
    display: grid;
    align-items: stretch;
    height: calc(var(--vh, 1vh) * 100 - 100px);
    overflow: hidden;
    grid-template: auto 1fr / 1fr;
}
.filter {
    position: relative;
    background-color: #ffffff;
}
.list {

}