.mainCont {
    display: grid;
    grid-gap: 10px;
}
.top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.bottom{
    display: grid;
    gap: 5px;

}