.modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: -1;
    box-sizing: border-box;
    pointer-events: none;
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    cursor: pointer;

}

.content {
    background: #ffffff;
    min-height: 100px;
    min-width: 200px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    position: relative;
    transform: scale(0.5);
}

.open {
    pointer-events: auto;
    z-index: 9;
    opacity: 1;
}

.open > .content {
    transform: scale(1);
}