.dd_card{
    display: grid;
    transition:all 0.3s ease;
    grid-template-areas:
            "main main"
            "but but"
            "hid hid";
}

.button {
    cursor: pointer;
    border: none;
    background-color: #1e95d0;
    padding: 10px;
    color: white;
}

.full {
    justify-self: stretch;
}

.start {
    justify-self: start;
}

.end {
    justify-self: end;
}

.center {
    justify-self: center;
}

.button:active {
    background-color: #1976a4;
}

.content {
    grid-area: main;
}

.blockBtn {
    grid-area: but;
}

.hideContent {
    grid-area: hid;
}