.main{
    display: grid;
    grid-template-areas:
            "dt dt"
            "det det";
    gap: 10px;
}

.date_info {
    background-color: #1e95d0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    color: white;
    grid-area: dt;
}

.date {
    display: grid;
    height: 100%;

}

.details{
    display: grid;
    grid-area: det;
    grid-template-areas: "rg st"
                        "rg price"
}

.update {
    display: grid;
    justify-self: end;
    text-align: end;
}

.region_info {
    display: grid;
    grid-area: rg;
    padding: 5px 5px 5px 10px;
}

.status_info {
    grid-area: st;
    text-align: end;
    justify-self: end;
    padding: 5px 10px 5px 5px;
}
.title {
    font-size: 0.9rem;
}
.value {

}
.date_info .value {
    color: #c5e8b1;
    align-self: end;
}
.price{
    justify-self: end;
    grid-area: price;
    text-align: end;
    padding: 10px;
}