.main{
    height: calc(var(--vh, 1vh) * 100 - 100px);
    overflow: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.content {
    padding: 20px;
    overflow: auto;
}
.pageBtns {
    text-align: center;
    padding-top:  10px;
    padding-bottom: 5px;
    display: grid;
    justify-content: center;
}