.table{
    display: grid;
    text-align: center;
    gap: 10px;
}
.filters {
    display: grid;
    justify-items: center;
    gap: 5px;
}
.label {
    width: 200px;
    display: grid;
    grid-auto-flow:column;
    align-items: center;
}