
.mainEl {
    transition: all 0.3s ease;
}
.modal {
    align-content: start;
    justify-content: start;
    overflow: auto;
    max-height: 100vh;
    max-width: 100vw;
    padding: 0;
}
.image {
    justify-self: start;
}
.zoomable{

}