.dropdown {
    position: relative;
}

.button {

}

.item {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    white-space: nowrap;
    text-align: center;
    background-color: #D9D9D9;
}
.active {
    background-color: #1e95d0;
    color: #ffffff;
}
.disable {
    opacity: 0.7;
}

.itemsBlock {
    position: absolute;
    padding: 20px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-gap: 10px;
}

.optionTopLeft {
    bottom: 100%;
    right: 0;
}

.optionTopRight {
    bottom: 100%;
    left: 0;
}

.optionBottomLeft {
    top: 100%;
    right: 0;
}

.optionBottomRight {
    top: 100%;
    left: 0;
}