.Tabs {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
}
.tabCard {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid silver;
    cursor: pointer;
    user-select:none;
}
.selected {
    background-color: #1e95d0;
    color: #ffffff;
}